.riveda-template-duo {
  --riveda-cor-bordas: #8f6e0d;
  --riveda-cor-texto: #ccc;
  --riveda-cor-destaques: #8f6e0d;
  --riveda-cor-bg-2: #1f1f1f;
  width: 300px;
  margin: 30px auto;
  outline: 1px solid var(--riveda-cor-bordas);
  outline-offset: 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.riveda-header-duo {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #2b2b2b;
  border: 1px solid var(--riveda-cor-bordas);
  box-sizing: border-box;
  overflow: visible;
}

.riveda-header-duo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://i.imgur.com/tqs7TY8.jpeg") center / cover no-repeat;
  filter: brightness(70%) blur(0.8px);
  z-index: 1;
}

.riveda-icon-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/NG1IBiS.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.riveda-icon-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/jxlnSva.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.riveda-icon-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/HE0L74B.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.riveda-icon-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/HPqXutC.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.riveda-content-duo {
  background-color: var(--riveda-cor-bg-2);
  border: 1px solid var(--riveda-cor-bordas);
  margin: 10px 30px;
  padding: 30px;
  white-space: pre-wrap;
  text-align: justify;
  line-height: 1.5;
  color: var(--riveda-cor-texto);
  position: relative;
  z-index: 2;
  font-family: "Sarala", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.riveda-content-duo b {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--riveda-cor-destaques)!important;
  font-style: normal;
  background: none;
}

.riveda-header-duo + .riveda-content-duo {
  margin-top: -20px;
}
